.bible-view-container {
    padding: 20px;
    color: #ffffff;
    background-color: #2e2e2e;
  }
  
  .books-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .book-container {
    border: 1px solid #555;
    padding: 10px;
    border-radius: 10px;
  }
  
  .chapters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
  }
  
  .chapter-container {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  h3 {
    margin: 0;
    font-size: 16px;
  }
  
  h3 sub {
    font-size: 12px;
    vertical-align: text-top;
    margin-left: 5px;
  }
  
  .pericopes-container {
    margin-top: 5px;
  }
  
  .pericope-container {
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .events-container {
    margin-top: 5px;
  }
  
  .event-icon {
    width: 12px;
    height: 12px;
    background-color: #007bff;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 2px;
    cursor: pointer;
  }
  
  .event-icon:hover {
    background-color: #0056b3;
  }
  