.bible-view-container {
    padding: 20px;
    color: #ffffff;
    background-color: #2e2e2e;
}

.books-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.book-container {
    border: 1px solid #555;
    padding: 10px;
    border-radius: 10px;
}

.chapters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
}

.chapter-container {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 16px;
}

h4 {
    font-size: 15px;
    margin: 0;
}

.pericopes-container {
    margin-top: 5px;
}

.pericope-wrapper {
    margin-top: 10px;
}

.pericope-container {
    background-color: #333;
    padding: 8px;
    border-radius: 5px;
    margin-top: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    filter: brightness(0.5);
    height: 150px;
}

.events-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.note-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

/* Nueva barra vertical con flechas y mejor contraste */
.related-passages-container {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    border-left: 2px solid rgba(255, 255, 255, 0.2); /* Línea de separación */
    border-radius: 5px;
}

.related-icon {
    margin: 5px 0; /* Espaciado entre cada flecha */
    cursor: pointer; /* Mostrar la mano al pasar sobre la flecha */
    position: relative;
}

.arrow-icon {
    background-color: #282c34; /* Fondo más oscuro para mejor contraste */
    color: #f7c600; /* Flecha de color amarillo más brillante */
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease;
}

.arrow-icon:hover {
    transform: scale(1.2); /* Ampliar un poco al pasar el ratón */
}

/* Estilo del tooltip para las flechas */
.related-icon[title]:hover::after {
    content: attr(title);
    position: absolute;
    top: -30px; /* Ajustar la posición del tooltip */
    right: 50%;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 12px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
    transform: translateX(50%);
    z-index: 10;
    opacity: 1;
    transition: opacity 0.2s;
}

.related-icon[title]:hover::before {
    content: "";
    position: absolute;
    top: -10px;
    right: 50%;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #000 transparent;
    transform: translateX(50%);
    z-index: 9;
}
