.bible-view-container {
    padding: 20px;
    color: #ffffff;
    background-color: #2e2e2e; /* Fondo oscuro */
  }
  
  .books-grid {
    display: flex;
    flex-direction: column; /* Apilamos los libros verticalmente */
    gap: 20px; /* Espacio entre libros */
  }
  
  .book-container {
    border: 1px solid #555; /* Borde oscuro */
    padding: 10px;
    border-radius: 10px;
  }
  
  .chapters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /* Distribución de capítulos */
    gap: 10px; /* Espacio entre capítulos */
  }
  
  .chapter-container {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
  }
  
  .events-container {
    margin-top: 5px;
  }
  
  .event-icon {
    width: 12px;
    height: 12px;
    background-color: #007bff; /* Color del punto de evento */
    border-radius: 50%;
    display: inline-block;
    margin: 5px 2px; /* Ajusta el espaciado */
    cursor: pointer;
  }
  
  .event-icon:hover {
    background-color: #0056b3; /* Cambia el color al pasar el ratón */
  }
  