.book-selector {
    position: relative; // Cambiar de fixed a relative
    background-color: #1e1e1e;
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 150; // Asegúrate de que el BookSelector esté por encima de las imágenes y sus capas internas, pero por debajo de la barra superior
    margin-bottom: 20px; // Añadir margen inferior

    select {
        background-color: #333; // Fondo oscuro
        color: #e0e0e0; // Texto claro
        border: 1px solid #444; // Borde oscuro
        padding: 8px 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        z-index: 151; // Asegúrate de que el select esté por encima de las imágenes

        &:hover {
            background-color: #444; // Fondo un poco más claro al pasar el ratón
            border-color: #555; // Borde un poco más claro al pasar el ratón
        }

        &:focus {
            outline: none;
            border-color: #666; // Borde más claro al enfocar
        }
    }
}