.my-plugin-ribbon-class {
  color: greenyellow;
}

.custom-icon {
  width: 25px;
  height: 25px;
}

table.calendar-table {
  border-collapse: collapse;
  width: 100%;
}

table.calendar-table th {
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
  font-weight: bold; /* Bold font for table headers */
}

table.calendar-table td {
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .calendar-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
}
