.obs-picker {
    display: flex;
    flex-direction: column;
  }
  
  .horizontal-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .form-input {
    flex: 1;
  }
  
  .form-select {
    width: 150px;
  }
  
  .selected-icon-preview {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  