/* Rojos */
.red {
  color: #ff0000; 

  &.youtube {
    color: #f74a4a;
  }

  &.communism {
    color: #DC143C;
  }

  &.c3 {
    color: #900030;
  }
}

/* Rosas */
.pink {
  color: #FF69B4; 

  &.tinder {
    color: #FE3C72;
  }

  &.instagram {
    color: #E4405F;
  }
}

/* Marrones */
.brown {
  color: #8B4513; 

  &.goodreads {
    color: #553F28;
  }
}

/* Naranjas */
.orange {
  color: #FF8C00;

  &.amazon {
    color: #FF9900;
  }
}

/* Amarillos */
.yellow {
  color: #FFFF00;

  &.emoji {
    color: #FFC83D;
  }

  &.intense {
    color: #FFA500;
  }
}

/* Verdes */
.green {
  color: #00FF00; 

  &.spotify {
    color: #1DB954;
  }

  &.whatsapp {
    color: #25d366;
  }
}

/* Azules */
.blue {
  color: #0000FF;

  &.aws {
    color: #1E90FF;
  }

  &.chesscom {
    color: #273036;
  }

  &.kindle {
    color: #212E38;
  }

  &.linkedin {
    color: #0077B5;
  }

  &.telegram {
    color: #0088CC;
  }

  &.twitter {
    color: #1DA1F2;
  }

  &.ui {
    color: #78B7D0;
  }

  &.wordpress {
    color: #21759B;
  }
}

/* Índigo */
.indigo {
  color: #4B0082;
}

/* Violeta */
.violet {
  color: #8B00FF;
}

/* Grises */
.grey {
  color: #808080;
}

/* Blancos */
.white {
  color: #fff;

  &.github {
    color: #fff;
  }

  &.realmadrid {
    color: #fff;
  }
}


