.header-container {
	position: sticky;
	top: 0;
	background: rgba(0, 0, 0, 0.7); /* Fondo transparente y gris oscuro */
	padding: 10px; /* Ajusta el espaciado según tus preferencias */
	display: flex;
	justify-content: space-between; /* Alinea los elementos horizontalmente */
	align-items: center; /* Alinea los elementos verticalmente */
	border-radius: 10px;
}

.year-selector-container {
	display: flex;
	justify-content: flex-end; /* Alinea el selector a la derecha */
	align-items: center;
	flex-grow: 1; /* Permite que el contenedor crezca para ocupar el espacio disponible */
}

button {
	background-color: #007bff;
	color: #ffffff;
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

button:hover {
	background-color: #0056b3;
}

.book-button {
	margin-left: 10px; /* Espaciado a la izquierda del botón + */
}

.book-button svg {
	width: 16px;
	height: 16px;
}
