.obs-picker {
    display: flex;
    flex-direction: column;
  }
  
  .horizontal-container {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .form-input {
    flex: 1;
    margin: 0;
  }
  
  .form-select {
    width: 150px;
    margin: 0;
  }
  
  .selected-icon-preview {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Añadir cursor pointer para indicar que es clicable */
  }
  
  .icon-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro para el modal */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .icon-modal-content {
    background: #2e2e2e; /* Fondo oscuro para el contenido del modal */
    color: #ffffff; /* Texto blanco para contraste */
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
  }
  
  .icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .icon-item span {
    color: #ffffff; /* Texto blanco para los nombres de los íconos */
  }
  
  .icon-modal-content h3 {
    color: #ffffff; /* Texto blanco para el encabezado del modal */
  }
  
  .icon-modal-content button {
    background: #444444; /* Fondo oscuro para el botón de cerrar */
    color: #ffffff; /* Texto blanco para el botón */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  .icon-modal-content button:hover {
    background: #555555; /* Fondo un poco más claro al pasar el cursor sobre el botón */
  }
  