input[type="number"] {
    padding: 5px;
    font-size: 14px;
    width: 100px; /* Ajusta la anchura del campo de entrada numérico */
    margin-left: 10px;
    background-color: #2e2e2e; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco para contraste en el tema oscuro */
    border: 1px solid #555; /* Borde más oscuro */
    border-radius: 5px;
  }
  