/* Rojos */
.red {
	color: #ff0000;

	&.youtube {
		color: #f74a4a;
	}

	&.communism {
		color: #dc143c;
	}

	&.c3 {
		color: #900030;
	}
}

/* Rosas */
.pink {
	color: #ff69b4;

	&.tinder {
		color: #fe3c72;
	}

	&.instagram {
		color: #e4405f;
	}

	&.purple {
		color: #8c004b;
	}
}

/* Marrones */
.brown {
	color: #8b4513;

	&.goodreads {
		color: #553f28;
	}
}

/* Naranjas */
.orange {
	color: #ff8c00;

	&.amazon {
		color: #ff9900;
	}
}

/* Amarillos */
.yellow {
	color: #ffff00;

	&.emoji {
		color: #ffc83d;
	}

	&.intense {
		color: #ffa500;
	}
}

/* Verdes */
.green {
	color: #00ff00;

	&.openai {
		color: #73d77a;
	}

	&.spotify {
		color: #1db954;
	}

	&.tree {
		color: #228b22;
	}

	&.whatsapp {
		color: #25d366;
	}
}

/* Azules */
.blue {
	color: #0000ff;

	&.aws {
		color: #1e90ff;
	}

	&.chesscom {
		color: #273036;
	}

	&.cobalt {
		color: #0047ab;
	}

	&.facebook {
		color: #3b5998;
	}

	&.kindle {
		color: #1199c2;
	}

	&.linkedin {
		color: #0077b5;
	}

	&.navy {
		color: #212e38;
	}

	&.sapphire {
		color: #007fff;
	}

	&.sky {
		color: #87ceeb;
	}

	&.telegram {
		color: #0088cc;
	}

	&.twitter {
		color: #1da1f2;
	}

	&.ui {
		color: #78b7d0;
	}

	&.wordpress {
		color: #21759b;
	}
}

/* Índigo */
.indigo {
	color: #4b0082;
}

/* Violeta */
.violet {
	color: #8b00ff;
}

/* Grises */
.grey {
	color: #808080;
}

/* Blancos */
.white {
	color: #fff;

	&.github {
		color: #fff;
	}

	&.opalescent {
		color: #fff8e7;
	}

	&.realmadrid {
		color: #fff;
	}
}
