table.calendar-table {
  border-collapse: collapse;
  width: 100%;
}

table.calendar-table th {
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
  font-weight: bold; /* Bold font for table headers */
}

table.calendar-table td {
  border: 1px solid grey;
  padding: 4px;
  text-align: center;
}

/* Asigna scroll-snap-align a cada mes */
.obs-month {
  
}

.obs-current-month {
  /* Estilos específicos para el mes actual */
  background-color: rgba(255, 204, 0, 0.1); /* Fondo amarillo con 20% de opacidad */
}